/* .navbar-nav{
    position: fixed !important;
} */
.navbar{
    margin-bottom: 2%;
}
.container-fluid{
    text-transform: uppercase !important;
}
.container-fluid .nav-link {
    padding: .25rem 0;
    font-weight: 700 !important;
    color: rgba(255, 255, 255, .5) !important ;
    background-color: transparent !important;
    border-bottom: .25rem solid transparent !important;
}
.container-fluid .active{
    color: #fff !important;
    border-bottom-color: #fff !important;
}
.container-fluid .activeLink{
    color: #fff !important;
    border-bottom-color: #fff !important;
}
.container-fluid .dropdown{
      margin-right: 10%;
}
.container-fluid  .dropdown-menu{
      max-width: 300px !important;
  }
.container-fluid .fa-user{
    color: #fff;
    
}
.container-fluid .card{
      max-width: 22rem;
      background-color: inherit !important;
      color: #fff;
}
 