body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 /*  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  
/*custome*/
height: 100%;
 /*  height: 100%;
  background-color: rgb(12, 11, 11);
  width: 100%;
  color: #fff; */
  
     background-color: #333; 
   /*  background-color: rgb(126, 126, 129);  */
   /*  background: url(img/download.jpg);
    background-size: cover;
    background-position: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
